JavaRushTasks/out.log
JavaRushTasks/out/production/
JavaRushTasks/JavaRushPlugin.properties
JavaRushTasks/.idea/workspace.xml
JavaRushTasks/.idea/modules.xml
.idea/JRHome.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Вспомнить всё/~$помнить всё.docx
